<div class="main-container">
  <header>
    <div class="clearfix">
      <div class="float-left">
        <img src="../assets/images/logo.png" class="logo" alt="logo"/>
      </div>
      <div class="float-right">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="javascript: void(0);" class="menu-item active">HOME</a>
          </li>
          <li class="list-inline-item">
            <a href="javascript: void(0);" class="menu-item">ABOUT</a>
          </li>
          <li class="list-inline-item">
            <a href="javascript: void(0);" class="menu-item">SERVICES</a>
          </li>
          <li class="list-inline-item">
            <a href="javascript: void(0);" class="menu-item">FAQ</a>
          </li>
          <li class="list-inline-item">
            <a href="javascript: void(0);" class="menu-item">TEAM</a>
          </li>
          <li class="list-inline-item mr-5">
            <a href="javascript: void(0);" class="menu-item">CONTACT</a>
          </li>
          <li class="list-inline-item">
            <a href="javascript: void(0);" class="btnLink">LOGIN</a>
          </li>
          <li class="list-inline-item">
            <a href="javascript: void(0);" class="btnLinkOutline">REGISTER</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="sectionOne">
    <div class="textContent"> 
      <div class="stripOne">
       <span>$</span> Discover a new ways to enjoy your World!
      </div>
      <div class="stripTwo">
        Get Most Benefits of Stock<br/>
        Market, crypto & Forex Trading.
      </div>
      <div class="stripThree">
        We have over 10 year experience in business consulting and <br/>
        stock market trading.
      </div>
      <div class="stripFour">
        <button class="btnOne">JOIN PRE-SALE</button>
        <button class="btnOne ml-4">LEARN MORE</button>
      </div>
    </div>
    <img src="../assets/images/banner_ee.jpg" alt="banner" class="banner w-100" />
  </div>
  <div class="sectionTwo">
    <marquee width="100%" direction="left" height="30px">
      <ul class="list-inline mb-0">
        <li>
          SENSEX <span class="text-danger">-125(-0.19%)&nbsp;<i class="fa-solid fa-sort-down"></i></span>
        </li>
        <li>
          NIFTY <span class="text-danger">-42.95(-0.22%)&nbsp;<i class="fa-solid fa-sort-down"></i></span>
        </li>
        <li>
          BANKNIFTY <span class="text-danger">-311.95(-0.70%)&nbsp;<i class="fa-solid fa-sort-down"></i></span>
        </li>
        <li>
          FINNIFTY <span class="text-danger">-42.95(-0.22%)&nbsp;<i class="fa-solid fa-sort-down"></i></span>
        </li>
        <li>
          MIDCPNIFTY <span class="text-danger">-13.35(-0.15%)&nbsp;<i class="fa-solid fa-sort-down"></i></span>
        </li>
        <li>
          BANKNIFTY <span class="text-danger">-118.35(-0.59%)&nbsp;<i class="fa-solid fa-sort-down"></i></span>
        </li>
        <li>
          HINDOILEXP <span class="text-success">+1.70(+1.00%)&nbsp;<i class="fa-solid fa-sort-up"></i></span>
        </li>
        <li>
          KIOCL <span  class="text-danger">-5.70(-1.68%)&nbsp;<i class="fa-solid fa-sort-down"></i></span>
        </li>
        <li>
          KIOCL <span class="text-success">+17.25(+1.62%)&nbsp;<i class="fa-solid fa-sort-up"></i></span>
        </li>
      </ul>
    </marquee>
  </div>
  <div class="sectionThree mb-4">
    <div class="text-center fnt26px mt-3 mb-4 fontBold700">
      WELCOME TO <span class="colorBlue">EQUITY EDGE CAPITAL</span>. JOIN WITH US, <br/>

      WE ARE THE SOLUTION FOR YOUR BUSINESS.

    </div>
    <div class="row m-0">
      <div class="col-4">
        <h4>
          A partner invested in your success
        </h4>
        <p>
          Trade with confidence and benefit from the reliability of a trusted broker with a proven record of stability, security and strength.
        </p>
        <button class="btnOne w-100 mb-3">
          EXPERT APPOINTMENT
        </button>
        <div>
          Not ready? <a href="javascript: void(0);">CLICK HERE FOR DEMO VIDEO</a>
        </div>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col">
            <div class="borderBox mt-4">
              <span>100+</span>
              <div>
                HAPPY CUSTOMERS
              </div>
            </div>
          </div>
          <div class="col">
            <div class="borderBox mt-4">
              <span>15+</span>
              <div>
                TEAM MEMBERS
              </div>
            </div>
          </div>
          <div class="col">
            <div class="timerBox text-center mt-5">
              <i class="fa-regular fa-clock"></i>
              <div>
                24/7 SUPPORT
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sectionFour mb-1">
    <div class="text-center fnt26px mt-3 mb-4 fontBold700">
      OUR SERVICES
      <p>
        
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="servicesBox position-relative">
          <h5>Management Services</h5>
          <div class="iconBig">
            <i class="fa-solid fa-users iconService"></i>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin eu mauris libero. Proin
            finibus vulputate mauris eget venenatis.
          </p>
          <a href="javascript: void(0);">
            Read More
          </a>
        </div>
      </div>
      <div class="col-4">
        <div class="servicesBox position-relative">
          <h5>Loans</h5>
          <div class="iconBig">
            <i class="fa-solid fa-hand-holding-dollar iconService"></i>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin eu mauris libero. Proin
            finibus vulputate mauris eget venenatis.
          </p>
          <a href="javascript: void(0);">
            Read More
          </a>
        </div>
      </div>
      <div class="col-4">
        <div class="servicesBox position-relative">
          <h5>Commodities</h5>
          <div class="iconBig">
            <i class="fa-solid fa-money-bill-transfer iconService"></i>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin eu mauris libero. Proin
            finibus vulputate mauris eget venenatis.
          </p>
          <a href="javascript: void(0);">
            Read More
          </a>
        </div>
      </div>
      <div class="col-4">
        <div class="servicesBox position-relative">
          <h5>Mutual Funds</h5>
          <div class="iconBig">
            <i class="fa-solid fa-circle-dollar-to-slot iconService"></i>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin eu mauris libero. Proin
            finibus vulputate mauris eget venenatis.
          </p>
          <a href="javascript: void(0);">
            Read More
          </a>
        </div>
      </div>
      <div class="col-4">
        <div class="servicesBox position-relative">
          <h5>Equity</h5>
          <div class="iconBig">
            <i class="fa-solid fa-chart-line iconService"></i>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin eu mauris libero. Proin
            finibus vulputate mauris eget venenatis.
          </p>
          <a href="javascript: void(0);">
            Read More
          </a>
        </div>
      </div>
      <div class="col-4">
        <div class="servicesBox position-relative">
          <h5>Currency</h5>
          <div class="iconBig">
            
            <i class="fa-solid fa-dollar-sign iconService"></i>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin eu mauris libero. Proin
            finibus vulputate mauris eget venenatis.
          </p>
          <a href="javascript: void(0);">
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="sectionFive">
    
    <div class="row">
      <div class="col-8">
        
          <div class="servicesBox position-relative">
              <h5 class="w-100">TESTIMONIALS</h5>
              <div class="row">
                <div class="col-6">
                  <div class="testimonialCard">
                    <div class="cardOne position-relative">
                      <p>
                        "Equity Edge Capital's advice is unrivaled in my long investment career. Know how to prioritize clients.They know how to prioritize clients.it means to prioritize their clients."
                      </p>
                      <div>"</div>
                    </div>
                    <div class="cardTwo mt-4 pb-4  d-flex">
                      <img src="../assets/images/New-Project-27.jpg" class="testimonialPic"/>
                      <div class="pt-2">
                        <h6 class="mb-0">Himesh Roshan</h6>
                        <i>
                          Government Lawyer
                        </i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="testimonialCard">
                    <div class="cardOne position-relative">
                      <p>
                      "Scaling my business would not have been possible without the financial strategies and support from 
        
        Equity Edge Capital. They re more than just financial 
        
        experts; they re growth partners"
                      </p>
                      <div>"</div>
                    </div>
                    <div class="cardTwo mt-4 pb-4 d-flex">
                      <img src="../assets/images/New-Project-28.jpg" class="testimonialPic"/>
                      <div class="pt-2">
                        <h6 class="mb-0">Himesh Roshan</h6>
                        <i>
                          Government Lawyer
                        </i>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
        
      </div>
      
      <div class="col-4">
        <div class="servicesBox position-relative">
          <h5 class="w-100">NEWS</h5>
          <div class="d-flex brdNews">
            <div class="bgDate">
              <ul class="list-inline mb-0">
                <li>
                  10
                </li>
                <li>
                  SEP
                </li>
                <li>
                  2023
                </li>
              </ul>
            </div>
            <div class="bgComments">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu mauris libero.
              </p>
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  by
                </li>
                <li class="list-inline-item">|</li>
                <li class="list-inline-item">
                  35
                </li>
                <li class="list-inline-item">|</li>
                <li class="list-inline-item">
                  <a href="javascript: void(0)">Comment</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="d-flex brdNews">
            <div class="bgDate">
              <ul class="list-inline mb-0">
                <li>
                  10
                </li>
                <li>
                  SEP
                </li>
                <li>
                  2023
                </li>
              </ul>
            </div>
            <div class="bgComments">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu mauris libero.
              </p>
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  by
                </li>
                <li class="list-inline-item">|</li>
                <li class="list-inline-item">
                  35
                </li>
                <li class="list-inline-item">|</li>
                <li class="list-inline-item">
                  <a href="javascript: void(0)">Comment</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="d-flex brdNews">
            <div class="bgDate">
              <ul class="list-inline mb-0">
                <li>
                  10
                </li>
                <li>
                  SEP
                </li>
                <li>
                  2023
                </li>
              </ul>
            </div>
            <div class="bgComments">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu mauris libero.
              </p>
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  by
                </li>
                <li class="list-inline-item">|</li>
                <li class="list-inline-item">
                  35
                </li>
                <li class="list-inline-item">|</li>
                <li class="list-inline-item">
                  <a href="javascript: void(0)">Comment</a>
                </li>
              </ul>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="sectionSix mb-2 text-center">
    <ul class="list-inline">
      <li class="list-inline-item mr-4">
        <img src="../assets/images/motilal.png" class="clientsImage"/>
      </li>
      <li class="list-inline-item">
        <img src="../assets/images/algos.png" class="clientsImage"/>
      </li>
    </ul>
  </div>
  <div class="sectionSeven text-center">
    <div class="row">
      <div class="col-4">
        <div class="d-flex text-left b1">
          <i class="fa-solid fa-phone"></i>
          <div>
            <h6 class="mb-0">
              0(000) 000 000
            </h6>
            <i>Monday-Friday, 8am-7pm</i>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="d-flex text-left b1">
          <i class="fa-regular fa-envelope"></i>
          <div>
            <h6 class="mb-0">
              info@equityedgecapital.com
            </h6>
            <i>Monday-Friday, 8am-7pm</i>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="d-flex position-relative">
          <input type="text" class="form-control emailLetter" placeholder="Email News Letter" />
          <button class="sendBtn">
            SEND
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="sectionEight copyRights">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <img src="../assets/images/logofooter.png" class="logofooter"/>
          <p>In the dynamic landscape of financial markets, where the delicate interplay of numbers, strategies, and foresight 
            determines success, there emerges a name that stands out for its unparalleled expertise and commitment</p>
            <i>
              – " EquityEdge Pvt Ltd "
            </i>
        </div>
        <div class="col-4 explore">
            <h6>Explore</h6>
            <div class="row mt-3">
              <div class="col-6 brdright">
                <ul class="list-inline">
                  <li>
                    <a href="javascript: void(0);">Home</a>
                  </li>
                  <li>
                    <a href="javascript: void(0);">About</a>
                  </li>
                  <li>
                    <a href="javascript: void(0);">Contact</a>
                  </li>
                </ul>
              </div>
              <div class="col-6">
                <ul class="list-inline">
                  <li>
                    <a href="javascript: void(0);">Management Services</a>
                  </li>
                  <li>
                    <a href="javascript: void(0);">Loans</a>
                  </li>
                  <li>
                    <a href="javascript: void(0);">Mutual Funds</a>
                  </li>
                  <li>
                    <a href="javascript: void(0);">Commodities</a>
                  </li>
                  <li>
                    <a href="javascript: void(0);">Equity</a>
                  </li>
                  <li>
                    <a href="javascript: void(0);">Currency</a>
                  </li>
                </ul>
              </div>
            </div>
        </div>
        <div class="col-4 exploreOne">
          <h6>Contact</h6>  
          <address>
            720 , 7th floor, The i thumb,<br>
            New okhla ind development Area, <br>
            Sector 62, Noida, Uttar Pradesh 201301.
          </address>  
          <div class="mb-2">
            <i class="fa-solid fa-phone"></i>&nbsp;&nbsp;<strong>+91-7456066939</strong>
          </div>  
          <div class="mb-3">
            <i class="fa-regular fa-envelope"></i>&nbsp;&nbsp;<strong>info@equityedgecapital.com</strong>
          </div> 
        </div>
      </div>
      <div class="clearfix mt-5 ">
        <div class="float-left">
          <div class="list-inline">
            <li class="list-inline-item">
              <a href="javascript: void(0);">
                Terms & Conditons
              </a>
            </li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item">
              <a href="javascript: void(0);">
                Privacy Policy
              </a>
            </li>
          </div>
        </div>
        <div class="float-right">
          &copy; Copy right 2023 All Right Reserved
        </div>
      </div>
    </div>
    
  </div>
</div>
